/* page background */
body{
font-family: Arial, sans-serif;
background:#f0f0f0;

/* center the app */
display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;
}

/* main card */
.container{
background:white;
padding:25px;
border-radius:10px;
width:380px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* input area */
.inputArea{
display:flex;
gap:10px;
margin-top:10px;
align-items:center;
}

/* input field */
input{
flex:1;
padding:6px;
min-width:0;
}

/* add button */
#addBtn{
background:#2e7d32;
color:white;
border:none;
padding:6px 12px;
cursor:pointer;
}

/* task list */
li{
margin-top:10px;
display:flex;
align-items:center;
gap:10px;
}

/* delete button */
.deleteBtn{
background:#e53935;
color:white;
border:none;
padding:4px 8px;
cursor:pointer;
}

/* filter buttons */
.filters{
margin:10px 0;
}

.filterBtn{
padding:5px 10px;
margin-right:5px;
cursor:pointer;
}

/* active filter button */
.active{
background:#4CAF50;
color:white;
}

li{
display:flex;
align-items:center;
gap:10px;
justify-content:space-between;
}

/* dragging */
.dragging{
    opacity: 0.5;
}