/* ===== PAGE STYLE ===== */
body{
font-family: Arial, sans-serif;
background:#eef2f7;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;
}


/* ===== MAIN CONTAINER ===== */
.container{
background:white;
padding:25px;
border-radius:15px;
width:380px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}


/* ===== TITLE ===== */
h1{
text-align:center;
margin-bottom:15px;
}


/* ===== COUNTER ===== */
#taskCounter{
text-align:center;
margin-bottom:10px;
color:#555;
}


/* ===== FILTER BUTTONS ===== */
.filter{
display:flex;
justify-content:center;
gap:5px;
margin-bottom:10px;
}

.filter button{
background:#ddd;
}

.filter button:hover{
background:#bbb;
}


/* ===== SEARCH INPUT ===== */
#searchInput{
margin-bottom:10px;
}


/* ===== INPUT AREA ===== */
.inputArea{
display:flex;
gap:8px;
margin-bottom:10px;
align-items:center;
}


/* ===== INPUT ===== */
input{
padding:8px;
border-radius:6px;
border:1px solid #ccc;
flex:1;
}


/* ===== PRIORITY SELECT ===== */
#priority{
padding:6px;
border-radius:6px;
}


/* ===== BUTTON ===== */
button{
padding:6px 12px;
border:none;
border-radius:6px;
cursor:pointer;
background:#4CAF50;
color:white;
}

button:hover{
opacity:0.8;
}


/* ===== TASK LIST ===== */
ul{
list-style:none;
padding:0;
margin:0;
}


/* ===== TASK ITEM ===== */
li{
background:#f5f5f5;
padding:8px;
margin-top:8px;
border-radius:6px;

display:flex;
align-items:center;
justify-content:space-between;
gap:10px;
}


/* ===== TASK TEXT ===== */
.task-text{
flex:1;
}


/* ===== DELETE BUTTON ===== */
.deleteBtn{
background:red;
}


/* ===== DRAGGING EFFECT ===== */
.dragging{
opacity:0.5;
}

/* dark mode */ 

.dark{
background:#121212;
color:white;
}

.dark .container{
background:#1e1e1e;
}

.dark li{
background:#2c2c2c;
}